* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia', serif;
    background-color: #eafaf1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.h2_cad {
    margin-bottom: 20px;
    color: #357a38;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #357a38;
    text-align: left;
}

input {
    padding: 10px;
    border: 1px solid #cce6d8;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

input:focus {
    outline: none;
    border-color: #4caf50;
}

.home-container {
    display: flex;
    align-items: center;
    margin-top: 2px;
  }
  
  .home-icon {
    margin-right: none;
    font-size: 30px;
  }
  
  .home-container a {
    text-decoration: none;
    color: #c8ddcd;
  }
  
  .button-home {
    background-color: #110f0f;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 100px;
    font-size: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
  }