/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #f0f8f4; /* Cor de fundo gelo */
    color: #333;
    padding-top: 70px; /* Espaço para não sobrepor o conteúdo abaixo do header */
  }
  
  .menu_inicial {
    padding: 20px;
  }
  
  /* Header */
  .main-header-class {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8e8d6; /* Verde pastel suave */
    padding: 10px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .logo_img {
    height: 50px;
    width: 50px;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    gap: 20px;
  }
  
  .navbar a {
    color: #357a38; /* Tom de verde escuro */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #2a5b2e; /* Efeito hover com tom de verde mais escuro */
  }
  
  /* Título da página */
  h2 {
    text-align: center;
    margin-top: 50px;
    color: #357a38;
  }
  
  a {
    color: #357a38;
  }
  
  a:hover {
    color: #2a5b2e;
  }
  
 .image_exemplo {
    
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 850px;
    padding-bottom: 3%;
 }

 .div_exemplo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 350px;
 }

 .div_botao_exemplo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3%;
 }

 .botao_exemplo{
    width: 150px;
     height: 50px;
}

.nossa_proposta {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

}

.sec_prop {
  width: 1600px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}

.proposta{
  display: flex;
  width: 900px;
  padding: 30px;
  margin: 20px;
  text-align: center;

}

.div_exemplo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}